---
import MainNav from '@/components/main-nav.astro'
import MobileNav from '@/components/mobile-nav.astro'
---

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div class="mx-auto flex h-14 max-w-[1440px] items-center px-2 md:px-4">
    <MainNav />
    <MobileNav />
    <div class="flex flex-1 items-center justify-end space-x-2">
      <nav class="flex items-center">
        <!-- TODO: Add Social Media -->
      </nav>
    </div>
  </div>
</header>
